<!DOCTYPE html>
<html>
<head><title>Monthly Expense Tracker</title></head>
<body>
    <h1>My Expenses</h1>
    <a href="{{ url_for('add_expense') }}">Add New Expense</a>
    <table border="1" cellpadding="8">
        <tr>
            <th>Credit / Debit</th>
            <th>Recipient</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Remarks</th>
            <th>Date</th>
            <th>Time stamp</th>
            <th>Actions</th>
        </tr>
        {% for e in expenses %}
        <tr>
            <td>{{ e[1] }}</td>
            <td>{{ e[2] }}</td>
            <td>{{ e[3] }}</td>
            <td>₹{{ e[4] }}</td>
            <td>{{ e[5] }}</td>
            <td>{{ e[6] }}</td>
            <td>{{ e[7] }}</td>
            <td>
                <a href="{{ url_for('edit_expense', uid=e[0]) }}">Edit</a> |
                <a href="{{ url_for('delete_expense', uid=e[0]) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>